<div class="page-content sidebar-page right-sidebar-page clearfix">
	<div class="page-content-wrapper">
		<div class="page-content-inner">
			<div id="page-header" class="clearfix"></div>
			<div class="row">
				<div class="col-lg-12">
					<div
						class="panel panel-default toggle panelMove panelClose panelRefresh">
						<!-- Start .panel -->
						<div class="panel-heading setBgColorWhite">
							<h4 class="panel-title">Lista de Usuários</h4>
						</div>
						<div class="panel-body">
							<div class="row ">
								<div class="col-lg-7 col-md-7">
									<button type="button" class="btn btn-default" ng-click="newUser()">Novo</button>
									<button type="button" class="btn btn-default" ng-disabled="selectedRow==null" ng-click="editUser()">Editar</button>
									<button type="button" class="btn btn-default" ng-disabled="selectedRow==null" ng-click="viewUser()">Visualizar</button>
								</div>
								<div class="setRightMargin" append-source>
									<div class="form-group input-large">
										<input type="text" class="form-control input-large "
											data-placement="right" data-type="info" data-container="body"
											placeholder="Pesquisar" data-trigger="focus" ng-model="query">
									</div>
								</div>
							</div>
							<div class="panel panel-default toggle panelMove">
								<table id="tabletools"
									class="table table-striped table-hoverBlue mouse"
									cellspacing="0" width="100%">

									<thead>
										<tr>
											<th>Nome</th>
											<th>CPF / CNPJ</th>
											<th>Cidade</th>
										</tr>
									</thead>
									<tbody>
										<tr	ng-repeat="user in list | filter:query | orderBy: 'name' | paginationFilter:currentPage*pageSize | limitTo:pageSize	"
											ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
											<td ng-click="setUser(user)">{{user.name}}</td>
											<td ng-click="setUser(user)">{{user.federalId}}</td>
											<td ng-click="setUser(user)">{{user.city.value}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<pagination></pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>